@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700");

h1 {
  margin: 0 0 20px;
  text-align: center;
}

h3 {
  margin: 0;
  text-align: center;
}

.wrapper {
  font-family: "Josefin Slab", serif;
  height: 100%;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  margin-top: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.options {
  display: flex;
  flex-direction: row;
  gap: 4px;
  height: 150px;
  margin-bottom: 20px;
  max-width: 100%;
  width: 500px;
}

.ties-container {
  display: grid;
  gap: 4px;
  height: 100%;
  width: 25%;
}

.option {
  cursor: pointer;
  text-align: center;
  align-items: center;
  align-content: center;
  border: black 1px solid;
  user-select: none;
  flex-grow: 1;
  word-break: break-word;
}

.option p {
  padding: 0 5px;
  margin: 5px 0;
}

.option-main {
  width: 40%;
}

.song-title {
  font-size: 20px;
}

.album {
  font-size: 12px;
}

table {
  border-collapse: collapse;
}

td {
  border: 1px solid black;
  padding: 4px 6px;
}

.row-header {
  font-weight: bold;
  text-align: center;
}

.col-rank {
  text-align: center;
}
