.menu-title {
  text-align: center;
  font-weight: bolder;
  margin-bottom: 5px;
}

.menu-options {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.menu-option {
  width: 150px;
  cursor: pointer;
  user-select: none;
}
